.input-feedback.inline-drawer {
  background: var(--greyCAIbg);
  margin-bottom: 5px;
  border-radius: 10px;
  padding: 0 10px;
  border: 1px solid var(--SmartThemeBorderColor);
  transition: all 250ms;
}

.input-feedback.inline-drawer .inline-drawer-header {
  color: var(--SmartThemeEmColor);
}

.input-feedback-extension-settings .inline-drawer .inline-drawer-content {
  padding-bottom: 1em;
}

.input-feedback-setting-title,
.input-feedback-button-container {
  padding-top: 0.5em;
}
